Source: python-geoip-simple
Section: python
Priority: extra
Maintainer: Tomas Ebenlendr <ebik@ucw.cz>
Build-Depends: debhelper (>= 8.0.0), python (>=2.7), python (<<3), python-setuptools
Standards-Version: 3.9.3
X-Python-Version: >= 2.7
Homepage: https://github.com/ebikt/python-geoip-simple
XCBS-Private-Project: infra
XB-Private-Target: implied

Package: python-geoip-simple
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python (>=2.7), python (<<3)
Description: Simple GeoIP database for python
 Simple geoip database for python (native implementation),
 downloads and compiles data from CSV files from MaxMind.
